<h1> Perplex </h1>

<% if logged_in? %>
	<%= render 'shared/workout_form' %>
<% else %>
  <h2>Log in or sign up to create new workouts!</h2>
  <%= link_to "Log in", login_path %>
  <%= link_to "Sign up", signup_path %>
<% end %>