<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
	<div class= "col-md-8">
		<h3>Created Workouts</h3>
		<ol class="workouts">
			<%= render @workouts %>
			<%= will_paginate @workouts %>
			<!-- we have to explicitly call @workouts because we are still in the context of users controller -->
		</ol>
	</div>
</div>