<footer class="footer">
  <div class="navbar navbar-fixed-bottom">
    <div class="container">
      <small>
        by <a href="http://www.juandsanchez.com/">Juan Sanchez</a>
      </small>
      <nav>
        <ul>
          <li><%= link_to "About",   '#' %></li>
          <li><%= link_to "Contact", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>